[giggle]
    main-window-maximized = false
    main-window-geometry = 1533x847+65+24
    main-window-view = FileView
    history-view-vpane-position = 572
    file-view-vpane-position = 572
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[color]
    ui = auto
[user]
    name = Rogers Guedes
    email = rogerguedes.ft@gmail.com
[alias]
    lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
    lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg3 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
